@model IEnumerable<bookbookiev11.Models.BookModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Book Bookie | Home";
}

<div class="container-fluid text-center" style="margin-bottom: 30px;padding: 25px;">
    <img src="~/images/BookBookielogo.png" />
    <h1 class="display-1"> Welcome To Your Last Book Store.</h1>
</div>

<div class="container-fluid bg-dark text-center text-white" style="padding: 25px;">
    <h1 class="display-1">Now Trending</h1>
</div>

<!-- now trending conatiner -->


<div class="container" style="margin-top: 30px; margin-bottom: 30px; ">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            if (item.isFeatured.Equals(true))
            {
                <div class="col">
                    <div class="card h-100">
                        <img src=@("~/images/"+ item.ImageName) asp-append-version="true" class="card-img-top" />
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title">@item.title</h5>
                                <p class="card-text">Author: @item.author</p>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">See More</a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="container-fluid bg-dark text-center text-white" style="padding: 25px;">
    <h1 class="display-1">New Releases</h1>
</div>

<!--new this week container-->
<div class="container" style="margin-top: 30px; margin-bottom: 30px; ">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            if (item.isNewRelease.Equals(true))
            {
                <div class="col">
                    <div class="card h-100">
                        <img src=@("~/images/"+ item.ImageName) asp-append-version="true" class="card-img-top" />
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title">@item.title</h5>
                                <p class="card-text">Author: @item.author</p>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">See More</a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

